<!--


  1. base example
  2. dynamic routes
  3. nested
  4. router-link


-->

<template>
  <div id="app">
    <div id="nav">

      <router-link to="/">Home default</router-link> |
      <router-link tag="span" to="/">Home span</router-link> |
      <router-link tag="span" to="/">
        <a>Home span + a</a>
      </router-link> |


      <router-link to="/home" replace >Home replace</router-link> |
      <router-link to="/about" >About</router-link> |
      <router-link to="/kokoko" >KOKOKO</router-link> |


      <router-link :to="{name: 'subpage', params: {subpage: 'kokoko'}}" >KOKOKO</router-link> |
      <router-link :to="{name: 'subpage', params: {subpage: 'kokoko', mood: 'OK'}}" >KOKOKO + mood</router-link> |

      <br>
      <button class="border p-4" @click="$router.push('/')">HOME</button>
      <button class="border p-4" @click="$router.push({name: 'home'})">HOME</button>
      <button class="border p-4" @click="$router.replace({name: 'home'})">HOME Replace</button>
      <button class="border p-4" @click="$router.go(-1)">-1</button>
      <button class="border p-4" @click="$router.go(1)">1</button>
      <button class="border p-4" @click="$router.go(-100)">100</button>
    </div>
    {{ $route.fullPath }}
    <router-view mod2="OK"/>

        <div style="height: 800px"></div>
    <a id="kokoko" href="#">///</a>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        links: [
          {to: '/', name: 'Home'}
        ]
      }
    },
    created () {
      console.log(this.$route);
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  /* color: #2c3e50; */
}

#nav a.router-link-exact-active {
  /* color: #42b983; */
}
</style>
