<!--


  1. base example
  2. dynamic routes
  3. nested
  4. router-link


-->

<template>
  <div id="app">
    <div id="nav">
      <router-link v-for="link in links" :to="link.to" :key="link.to" >{{link.name}}</router-link>

      <br>
      <router-link to="/" active-class="text-red">Home</router-link> |
      <router-link to="/" exact active-class="text-red">Home</router-link> |
      <!-- <router-link to="/about" active-class="text-red">About</router-link> | -->
      <!-- <router-link to="/about" exact-active-class="text-green">About</router-link> | -->
      <router-link to="/about" >About</router-link> |


      <router-link to="/about?q=q">About ?q</router-link> |
      <router-link to="/about/company">About Co</router-link> |
      <!-- <router-link to="/kookok">SubPage</router-link> -->
      <router-link to="/subpage/kookok">SubPage</router-link>
      <br>


      <router-link :to="{path: '/about'}" >About {path}</router-link> |
      <router-link :to="{name: 'about'}" >About {name}</router-link> |
      <router-link :to="{name: 'about', query: {q: 'q'}}" >About {q}</router-link> |
      <router-link :to="{path: '/about', query: {q: 'q'}}" >About {p, q}</router-link> |
      <br>


      <router-link to="/kokoko" >KOKOKO</router-link> |
      <router-link :to="{name: 'subpage', params: {subpage: 'kokoko'}}" >SubPage {n, p}</router-link> |
      <router-link :to="{path: '/kokoko', params: {subpage: 'ololo'}}" >SubPage {p} ПЕРЕТРЁТ</router-link> |
      <router-link :to="{path: '/kokoko', query: {subpage: 'ololo', q: 'qqq'}}" >SubPage {p}</router-link> |
      <router-link :to="{path: '/kokoko', hash: '#kokoko'}" >SubPage {h}</router-link> |


      <!-- <a href="/about">ABOUT LINK</a> -->


    </div>
    {{ $route.fullPath }}
    <router-view/>

        <div style="height: 800px"></div>
    <a id="kokoko" href="#">///</a>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        links: [
          {to: '/', name: 'Home'}
        ]
      }
    },
    created () {
      console.log(this.$route);
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  /* color: #2c3e50; */
}

#nav a.router-link-exact-active {
  /* color: #42b983; */
}
</style>
