<template>
  <div id="app">
    <header class="bg-blue">
      <div class="container mx-auto flex h-10 justify-between items-center">
        <router-link :to="{name: 'home'}" class="text-white no-underline">GITHUB JOBS</router-link>
        <router-link :to="{name: 'faq'}" class="text-white no-underline">How it works</router-link>
      </div>
    </header>

    <router-view class="container mx-auto" :key="$route.fullPath"/>
  </div>
</template>
