<template>
  <div>
    <h1>This is an about page</h1>
    <router-view/>
  </div>
</template>
<script>
  export default {
    created () {
      console.log('CREATED');
     if (this.$route.meta.isOk) console.log('is OK');
    }
  }
</script>
