<template>
  <div>
    <h1>SubPage</h1>
    <p>{{ $route.params.subpage }}</p>
    <p>{{ subpage }}</p>
    <p>{{ isOk }}</p>
    <p>{{ mod2 }}</p>

  </div>
</template>
<script>
  export default {
    props: {
      subpage: String,
      isOk: Boolean,
      mod2: String
    },
    created () {
      console.log('this.$route.params.subpage', this.$route.params.subpage);
      console.log('this.$route.params.mood', this.$route.params.mood);
      console.log('this.subpage', this.subpage);
      console.log('this.subpage', this.isOK);
    }
  }
</script>

